.panel-title
{
    font-family:'Courier New', Courier, monospace;
    font-size: 250%;
    color: rgba(0, 0, 0, 0.712);
    text-align: center;
}


.overall
{
    margin-left: 25%;
}


#hideMe {
    -webkit-animation: cssAnimation 10s forwards; 
    animation: cssAnimation 10s forwards;
    
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.center{
    margin-left: 20%;
}

.btn-danger{
    margin-left: 59%;
    margin-bottom: 1%;
}

.styled-table {
    border-collapse: collapse;
    
    font-size: 120%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0f0f0f;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 16px 30px;
}



.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0e0f0f;
}



.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20%;
}

.button-73:hover {
  background-color: #98FB98;
  box-shadow: #5be46d 0 -6px 8px inset;
  transform: scale(1.125);
  
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


.input-text{
    margin-top: 10000000000%;
}

table.center-cell td{
    margin-left: 10000%;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 250%;
}


#cell-left{
    margin-left: 100000%;
}


.styled-tab {
    border-collapse: collapse;
    
    font-size: 120%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-tab thead tr {
    background-color: #070707;
    color: #ffffff;
    text-align: left;
}
.styled-tab th,
.styled-tab td {
    padding: 16px 40px;
}

.styled-tab tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-tab tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-tab tbody tr:last-of-type {
    border-bottom: 2px solid #0c0c0c;
}




.modify-center{
    margin-left: 30% ;
    margin-top: 3%;
}



.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  text-decoration: none;
  color: #000000;
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}