.top{
    margin-top: 2%;
}
.button-3{
    color: rgba(255, 0, 0, 0.747);
    font-size: 150%;
}
.button-3:hover{
    color: rgba(255, 0, 0, 0.795);
}
.button-0{
    color: black;
    font-size: 150%;
}
.button-0:hover
{
    color: rgba(0, 0, 0, 0.726);
}
#id{
    font-size: 200%;
}

.overall{
    margin-left: 20%;
    margin-top: 2%;
    
}
#t{
    text-align: center;
}

.s{
    margin-left: 20%;
}