{% extends "base.html" %}
{% block title %}
Register
{% endblock %}

{% block content%}
{% load static %}



<style>

.overall{
    margin-left: 36%;
    margin-top: 9%;
    
    margin-right:30%;
}

.ce{
    margin-left: 29%;
}
#admin{
  text-align: center;
  font-size: 2em;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 600px){
  #submit{
    margin-bottom: 10%;
    margin-right: 10;

  }
  #admin{
    text-align:center !important;
    font-size: 1.3em;
  }
  .form-group{
    width: 150%;
  
  }
  .container{
    width: 200%;
    margin:0;
    padding:0;
  }
}
</style>
 


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" href="{% url 'twolink' %}">{{shop}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'twolink' %}"> Home<span class="sr-only">(current)</span></a>
          </li>
              <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
  
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="{% url 'login' %}"  class="btn btn-dark my-2 my-sm-0"  type="submit">  Logout</a>
          
        </form>
      </div>
    </nav>



<div class='overall'>

   

<div class="container">


<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group"> <hr>
     <p id="admin"> <strong> Admin Login</strong> </p><hr>
    {% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message: </strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% endfor %}
    <label for="p">Enter Admin Password</label>
    <input type="password" class="form-control" aria-describedby="Help" name="pass" id="p" placeholder="Enter Admin pass">
    <small id="Help" class="form-text text-muted">Admin password is case-sensitive</small>
    
</div>
<div class="ce">
    
    <input type="submit" class="btn btn-success" id="submit" value=" Login ">
    <a href="{% url 'twolink' %}" class="btn btn-dark" style="margin-left: 4%;">Cancel</a>
</div>
</form>

</div>
<hr>
</div> 

{% endblock%}